@page "/"

<div>
    <h1>
        Welcome to Exercise Engine
    </h1>
    <p>
        What would you like to do? You can:
    </p>
    <ol>
        <li>Create new exercise</li>
        <li>Edit existing exercise</li>
        <li>Fill exercise with deepL translation approximations</li>
        <li>Correct translations</li>
        <li>Manage exercise collestion</li>
    </ol>
</div>