@page "/create/confirm-metadata"
@inject StateContainer StateContainer

<h3>Confirm_metadata</h3>

<p>Here is your save text in state container: </p>
<p>@StateContainer.Property</p>

<MudButton Href="create/set-metadata">Click me to return to setting all the data</MudButton>

@code {

}
